#!/usr/bin/env sh
# vscode.yaml: {{ include ".chezmoidata/vscode.yaml" | sha256sum }}
VSCODE_BIN="$(which code)"
echo "* Install VSCode extensions"
{{ range .vscode.extensions -}}
"${VSCODE_BIN}" --install-extension {{ . | quote }} --force
{{ end -}}