#!/usr/bin/env sh
DCONF_BIN="$(which dconf)"
GSETTINGS_BIN="$(which gsettings)"
echo "* Import GNOME configuration settings"
${DCONF_BIN} load / < << 'EOF'
{{ template "gnome.dconf" . }}
EOF
echo "* Reset GNOME applications grid ordering"
${GSETTINGS_BIN} reset org.gnome.shell app-picker-layout