#!/usr/bin/env bash

set -eo pipefail

function is_pipx_pkg_installed() {
  local pkg="$1"
  local installed_pkgs="$(pipx list --json)"
  jq --arg pkg "${pkg}" -e '.venvs | has($pkg)' <<< ${installed_pkgs} >/dev/null 2>&1
}

# Install Python packages
echo "* Install Python packages (using pipx)"
for pkg in {{ range .python.packages }}{{ . | quote }} {{ end }}; do
  if ! is_pipx_pkg_installed "${pkg}"; then
    pipx install -qq "${pkg}" || continue
  else
    echo "> '${pkg}' already installed, skipping"
  fi
done
