#!/usr/bin/env bash
# krew.yaml: {{ include ".chezmoidata/krew.yaml | sha256sum }}

echo "* Install krew kubectl plugin manager"
if [ -f "${HOME}/.local/bin/krew" ]; then
    if [ -d "${HOME}/.krew" ]; then
        echo "> krew already installed, skipping"
    else
        echo "> Installing krew"
        "${HOME}/.local/bin/krew" install krew
    fi
fi

echo "* Install kubectl plugins (using krew)"
for plugin in {{ range .krew.plugins }}{{ . | quote }} {{ end }}; do
    if ! kubectl krew list | grep -q "^${plugin}$"; then
        kubectl krew install "${plugin}" || continue
    else
        echo "> '${plugin}' already installed, skipping"
    fi
done