#!/usr/bin/env sh
# gnome.dconf {{ include ".chezmoitemplates/gnome.dconf" | sha256sum }}
DCONF_BIN="$(which dconf)"
GSETTINGS_BIN="$(which gsettings)"
echo "* Import GNOME configuration settings"
${DCONF_BIN} load / << 'EOF'
{{ template "gnome.dconf" . }}
EOF
echo "* Reset GNOME applications grid ordering"
${GSETTINGS_BIN} set org.gnome.shell app-picker-layout "[]"
${GSETTINGS_BIN} reset org.gnome.shell app-picker-layout