# Reference: https://distrobox.it/#configure-distrobox
container_manager={{ .distrobox.manager | quote }}
container_generate_entry={{ if .distrobox.generate_entry }}1{{ else }}0{{ end }}
container_name_default={{ .distrobox.default_name | quote }}
container_image_default={{ .distrobox.default_image | quote }}
container_manager_additional_flags="{{ range .distrobox.additional_flags }}{{ . }} {{ end }}"