{{/* Default variable values */}}
{{- $is_laptop := false -}}
{{- $is_desktop := false -}}

{{/* Determine env based on hostname */}}
{{- $hostname := .chezmoi.hostname -}}
{{- if eq $hostname "foton" -}}
{{-   $is_laptop = true -}}
{{- else if eq $hostname "buran" -}}
{{-   $is_desktop = true -}}
{{- end -}}

[data]
hostname = {{ $hostname | quote }}
laptop   = {{ $is_laptop }}
desktop  = {{ $is_desktop }}