# - ohmyzsh and plugins -
[".oh-my-zsh"]
    type = "archive"
    url = "https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".oh-my-zsh/custom/plugins/zsh-autosuggestions"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-autosuggestions/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

# - vim -
[".local/share/nvim/site/autoload/plug.vim"]
    type = "file"
    url = "https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim"
    refreshPeriod = "168h"

# - Utilities -
[".local/bin/zellij"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "zellij-org/zellij" "zellij-x86_64-unknown-linux-musl.tar.gz" | quote }}
    path = "zellij"
    executable = true
    refreshPeriod = "168h"

[".local/bin/minikube"]
    type = "file"
    url = {{ gitHubLatestReleaseAssetURL "kubernetes/minikube" "minikube-linux-amd64" | quote }}
    executable = true
    refreshPeriod = "168h"

[".local/bin/dive"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "wagoodman/dive" "dive_*_linux_amd64.tar.gz" | quote }}
    path = "dive"
    executable = true
    refreshPeriod = "168h"

[".local/bin/act"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "nektos/act" "act_Linux_x86_64.tar.gz" | quote }}
    path = "act"
    executable = true
    refreshPeriod = "168h"

[".local/bin/kafkactl"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "deviceinsight/kafkactl" "kafkactl_*_linux_amd64.tar.gz" | quote }}
    path = "kafkactl"
    executable = true
    refreshPeriod = "168h"

[".local/bin/mise"]
    type = "file"
    url = {{ gitHubLatestReleaseAssetURL "jdx/mise" "mise-v*-linux-x64" | quote }}
    executable = true
    refreshPeriod = "168h"

[".local/bin/k9s"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "derailed/k9s" "k9s_Linux_amd64.tar.gz" | quote }}
    path = "k9s"
    executable = true
    refreshPeriod = "168h"

[".local/bin/butane"]
    type = "file"
    url = {{ gitHubLatestReleaseAssetURL "coreos/butane" "butane-x86_64-unknown-linux-gnu" | quote }}
    path = "butane"
    executable = true
    refreshPeriod = "168h"

[".local/bin/atlas"]
    type = "archive-file"
    url = {{ gitHubLatestReleaseAssetURL "mongodb/mongodb-atlas-cli" "mongodb-atlas-cli_*_linux_x86_64.tar.gz" | quote }}
    path = "bin/atlas"
    stripComponents = 1
    executable = true
    refreshPeriod = "168h"

[".local/bin/mongosh"]
    type = "archive-file"
    url = "https://downloads.mongodb.com/compass/mongosh-2.5.9-linux-x64.tgz"
    path = "bin/mongosh"
    stripComponents = 1
    executable = true
