{{ if eq .chezmoi.hostname "buran" -}}
#!/usr/bin/env sh
# dconf.ini: {{ include "dconf.ini" | sha256sum }}
echo "* Import GNOME configuration settings"
dconf load / < {{ joinPath .chezmoi.sourceDir "dconf.ini" | quote }}
{{ end -}}