{{ if eq .chezmoi.hostname "foton" -}}
#!/usr/bin/env sh
# dconf.ini: {{ include "dconf.ini" | sha256sum }}
echo "* Import GNOME configuration settings"
exec "$(which dconf)" load / < {{ joinPath .chezmoi.sourceDir "dconf.ini" | quote }}
{{ end -}}