#!/usr/bin/env python3
import json
import sys

current = json.loads(sys.stdin.read() or "{}")
desired = {
    "icon_theme": "Colored Zed Icons Theme Dark",
    "ui_font_family": ".ZedSans",
    "ui_font_size": 16.0,
    "buffer_line_height": "standard",
    "buffer_font_family": "Cascadia Mono",
    "buffer_font_size": 16.0,
    "agent": {
        "default_model": {
            "provider": "deepseek",
            "model": "deepseek-v4-flash",
        },
        "dock": "right",
        "sidebar_side": "right",
    },
    "project_panel": {"dock": "left"},
    "theme": {"mode": "dark", "light": "One Light", "dark": "One Dark Pro"},
    "auto_install_extensions": {
        "ansible": True,
        "colored-zed-icons-theme": True,
        "csv": True,
        "docker-compose": True,
        "dockerfile": True,
        "html": True,
        "ini": True,
        "one-dark-pro": True,
        "sql": True,
        "terraform": True,
        "toml": True,
        "xml": True,
    },
}

# Merge current file values with desired values
merged = current | desired

print(json.dumps(merged, indent=2))
