{{ if .laptop -}}
{{   (bitwarden "item" "c7fc907f-50c6-4019-bc5e-b305009f0b8e").sshKey.privateKey }}
{{ else if .workstation -}}
{{   (bitwarden "item" "706b6f79-57e4-471d-939d-b305009f235d").sshKey.privateKey }}
{{ end -}}