{{ if .laptop -}}
{{   (bitwarden "item" "1ee7f3e2-bd9d-4d94-be39-b43501058557").sshKey.privateKey }}
{{ else if .workstation -}}
{{   (bitwarden "item" "41631f45-b081-4d0f-b72c-b4350105d313").sshKey.privateKey }}
{{ end -}}