{
    "editor.fontFamily": "Cascadia Mono",
    "editor.fontLigatures": true,
    "files.autoSave": "afterDelay",
    "workbench.colorTheme": "One Dark Pro Mix",
    "workbench.preferredDarkColorTheme": "One Dark Pro Mix",
    "workbench.iconTheme": "vscode-icons",
    "window.autoDetectColorScheme": true,
    "containers.containerClient": "com.microsoft.visualstudio.containers.docker",
    "github.copilot.nextEditSuggestions.enabled": true,
    "mise.binPath": "{{ .chezmoi.homeDir }}/.local/bin/mise",
    "terminal.integrated.fontFamily": "Cascadia Mono PL",
    "terminal.integrated.fontSize": 15,
    "editor.fontSize": 15,
{{- if .desktop }}
    "window.zoomLevel": 0.1
{{- end }}
}