{
{{- if .laptop }}
    "editor.fontSize": 15,
{{- else }}
    "editor.fontSize": 14,
{{- end }}
    "editor.fontFamily": "Cascadia Mono",
    "editor.fontLigatures": true,
    "files.autoSave": "afterDelay",
    "workbench.colorTheme": "One Dark Pro Mix",
    "workbench.preferredDarkColorTheme": "One Dark Pro Mix",
    "workbench.iconTheme": "vscode-icons",
    "window.autoDetectColorScheme": true,
    "containers.containerClient": "com.microsoft.visualstudio.containers.docker",
    "github.copilot.nextEditSuggestions.enabled": true,
    "mise.binPath": "/home/fbobin/.local/bin/mise",
    "terminal.integrated.gpuAcceleration": "off",
    "terminal.integrated.shellIntegration.enabled": false,
    "terminal.integrated.fontFamily": "Cascadia Mono PL",
{{- if .laptop }}
    "terminal.integrated.fontSize": 15
{{- else }}
    "terminal.integrated.fontSize": 14
{{- end }}
}