{
{{- if .laptop }}
    "editor.fontSize": 15,
{{- else }}
    "editor.fontSize": 14,
{{- end }}
    "editor.fontFamily": "Cascadia Mono",
    "editor.fontLigatures": true,
    "files.autoSave": "afterDelay",
    "workbench.colorTheme": "One Dark Pro Mix",
    "workbench.iconTheme": "vscode-icons",
    "containers.containerClient": "com.microsoft.visualstudio.containers.docker",
    "dev.containers.dockerPath": "docker",
    "dev.containers.dockerComposePath": "docker-compose",
    "github.copilot.nextEditSuggestions.enabled": true
}