--ignore-gpu-blocklist
--enable-gpu-rasterization
--enable-zero-copy
--ozone-platform-hint=auto
--disable-features=Vulkan
{{- if .laptop }}
--enable-features=AcceleratedVideoDecodeLinuxGL,AcceleratedVideoDecodeLinuxZeroCopyGL,AcceleratedVideoEncoder,CanvasOopRasterization,UseMultiPlaneFormatForHardwareVideo,TouchpadOverscrollHistoryNavigation,VaapiVideoDecoder,VaapiVideoEncoder
{{- else if .desktop }}
--enable-features=AcceleratedVideoDecodeLinuxGL,AcceleratedVideoDecodeLinuxZeroCopyGL,AcceleratedVideoEncoder,CanvasOopRasterization,UseMultiPlaneFormatForHardwareVideo,VaapiVideoDecoder,VaapiVideoEncoder,VaapiIgnoreDriverChecks
{{- end }}